/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Navigation */
header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff6347;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

#home {
    background: url('background.jpg') no-repeat center center/cover;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    background-color: #f4f4f4;
}

#projects .project-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-item {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

#contact {
    background-color: #f4f4f4;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
